@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  color: #4b4b4b;
}
.text-gray {
  color: rgb(27, 27, 27);
}

.input-p {
  padding: 6px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  outline: none;
}

.button-good {
  padding: 8px;
  background: #60c6dc;
  color: white;
  border-radius: 4px;
}

.button-good:hover {
  background: #32707e;
  transition: 0.1s ease-out;
}
.link-css {
  color: #07819c;
  text-decoration: underline;
  font-size: 14px;
}

.scale:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in;
  margin-top: 24px;
}

@media (max-width: 1200px) {
  .scale:hover {
    transform: scale(1);
  }
}
